@import '../styles/color';
@import '../styles/easing';

$drawer-width: 240px;

.drawer-layout {
  display: flex;
  height: 100%;
  width: 100%;

  .drawer {
    width: $drawer-width;
    margin-left: -$drawer-width;
    transition: margin-left 300ms $ease-in-out-quart;
    &.open {
      margin-left: 0;
    }
  }

  .main-content {
    flex: 1;
  }
}
